/* styling famework

-------- Text Content -------- 
spacing
styling
size
font
color

-------- element / Box css -------- 
margin
padding
length
width

-------- element container -------- 
*/

/* Hero section */

.skill-hero{
    height:70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.hero-heading{
    margin-bottom: 1rem;
}

/* Feature section */

.feature-container{
    margin-bottom: 10rem;
}

.feature-text-content{
    margin-bottom: 5rem;
}

.feature-para{
    text-align: center;
}
.feature-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .feature-card{
    padding: 3.2rem;
} */

/* Strategy Section*/

.strategy-para{
    text-align: center;
    margin-bottom: 5rem;
}

.strategy-container{
  margin-bottom: 10rem;
  
}

.strategy-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

