/* styling famework

-------- Text Content -------- 

SPECS

spacing / centering / alignment
styling
size
font
color

TOOLS

text-aligment
line-height
letter-spacing

font-weight

-------- element / Box css -------- 
margin
padding
length
width

-------- element container -------- 
*/

/* span{
    display: inline-block;
} */

/* Hero section */

.skill-hero{
    height:70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 2px solid var(--gray-tint);
    background-color: var(--gray-tint);
    border-radius: 1rem;
    margin-bottom: 10rem;
}

.hero-heading{
    margin-bottom: 1rem;
}

.skill-hero-para{
    color:#1e5892;
    margin-bottom: 5rem;
}

.project-btn-link{
    color: var(--white);
}

/* Feature section */

.feature-container{
    margin-bottom: 10rem;
    background-color: var(--primary-tint);
    border: 2px solid var(--primary-tint);
    border-radius: 1rem;
    padding: 5rem;
   
}

.feature-text-content{
    margin-bottom: 5rem;
}

.feature-para{
    text-align: center;
    color: var(--primary-shade);
}
.feature-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.feature-card{
    padding: 2rem 4rem;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 1rem;
    width: 300px;
}

.feature-card-heading{
    color: var(--secondar-base);
    margin-bottom: 1rem;
}

/* Strategy Section*/

.startegy-heading{
    color: var(--secondar-base);
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

.strategy-heading{
    margin-bottom: 1rem;
}

.strategy-para{
    text-align: center;
    margin-bottom: 5rem;
    color: var(--primary-shade);
}

.number-highlight{
    background-color: var(--secondar-base);
    color: var(--gray-tint);
    height: 5rem;
    width: 5rem ;
    text-align: center;
    border-radius: 50%;
}

.strategy-container{
  margin-bottom: 10rem;
  background-color: var(--gray-tint);
  border: 2px solid var(--gray-tint);
  border-radius: 1rem;
  padding: 5rem;
  
}

.strategy-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:4rem;
}

.strategy-card{

    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 1rem;
    padding: 2rem 4rem;
}

