
/* ----------- Sections ----------- */

/* nav-section */

.nav{
    height:10rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-base); 
    color: var(--white);
    border-radius: 1rem;
    position: relative;
}

.nav-logo, .nav-svg{
    
    font-weight: 700;
    padding: 0 2rem;
    color: var(--white);
}

.nav-svg{
    font-size: 5rem;
    cursor: pointer;
    display: none;
}

.nav-menu-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.8rem;
    padding: 0 2rem;
    color: var(--primary-tint);
    
}

.nav-links{
    color: var(--white);
}

/* hero-section */

.hero{
    height: calc(100vh - 13rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--section-margin);
    padding: 5rem;
    background-color: #EFF2F5;
    border-radius: 2rem;
}

.hero-content-container{
    display: flex;
    flex-direction: column;
    /* padding: 5rem; */
}

.hero-h1{
    margin-bottom: 2rem;
}

.hero-h3{
    text-align: center;
    margin-bottom: 2rem;
    /* color: var(--primary-shade); */
}

.hero-para{
    text-align: center;
    margin-bottom: 5rem;
}

.hero-social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3rem;
    color: #1C222C;
}

.hero-svg{
    
    font-size: 2rem;
    display: inline-block;
}

.linkedIn-svg{
    color: var(--primary-base);
}

.git-svg{
    color: var(--primary-base);
}

.hero-svg-container{
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--primary-base);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

/* feature-section */

.feature{
    margin-bottom: var(--section-margin);
}


/* teck stack section */

.tech-stack-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-base);
    margin-bottom: 10rem;
    padding:5rem;
    border-radius: 3rem;
}

.tech-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tech-stack-heading{
    margin-bottom:4rem ;
    color: var(--white);
}

.tech-highlight{
    padding: 1.5rem 7rem;
    background-color: var(--white);
    border-radius: 1rem;
}

/* project section */

.projects-container{
    display: flex;
    flex-direction: column;
    background-color: #EFF2F5;
    border: solid 1px var(--white);
    padding: 4rem 2rem;
    border-radius: 2rem;
    align-items: center;
}

.project-h3{
    margin-bottom: 5rem;
    text-align: left;
}

.project-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 5rem;
}

.project-card{
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-img{
    margin-bottom: 1.6rem;
    border: solid 2px var(--gray-tint);
    border-radius: 1rem;
    max-width: 500px;
    width: 100%;  
}

.project-des{
    padding: 1rem;
    text-align: left;
}

.project-h5{
    margin-bottom: 1rem;
}


/* foot-section */

.footer{
    background-color: var(--gray-shade);
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem; 
}

.footer-text{
    color: var(--white);
    text-align: center;
}


/* Components */

.btn{
    padding: 1.5rem 5rem;
    border-radius: 1rem;
    display: inline-block;
}

.hero-btn-link{
    background-color: var(--primary-base);
    color: #ffffff;

}

.project-btn-link{
    background-color:var(--secondar-base);
    color: #1C222C;
}

.hero-highlight{
    color: var(--secondar-base);
}


