

/* 
standard media querries

( 1200 - 993 )px small computers

( 992 - 769 )px  big tablets computers tablets

( 768 - 500 )px small Tablets 
 
( < 500 )px phones

*/

/*  small laptop screens w: 1200px */

@media(max-width:75rem){

    /* font-size (9px/16px)*100%  = 56%*/

    html{
        font-size: 56%;
    }

    .page-container{
        width: 90%;
    }
}

/*  Big Tablet screens w: 992px*/

@media(max-width:62rem){

    /* font-size (8px/16px)*100%  = 50%*/

    html{
        font-size: 50%;
    }

    .hero{
        height: auto;
        padding: 10rem 4rem;
    }

    .nav{
        margin-bottom: 10rem;
    }

    .tech-highlight{
        padding: 1.5rem 6rem;

    }

    .universal-grid-box{
        row-gap: 1rem;
        column-gap: 1rem;
    }
}

/* Small Tablet screens w: 784px*/

@media(max-width:51rem){

    /* font-size (7px/16px)*100%  = 43%*/

    html{
        font-size: 43%;
    }

    .tech-highlight{
        padding: 1.5rem 6rem;

    }

    .nav-svg{
        display: block;
    }
    
    .universal-grid-box{
        
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
        column-gap: 2rem;
    }

    .nav-menu-links{
        display: none;
        flex-direction: column;
        align-items:center;
        position: absolute;
        top:12rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: var(--primary-base); 
    }

    .nav-menu-links.active{
        display: flex;
        border-radius: 0.5rem;
        padding: 4rem;
        gap: 4rem; 
    }
}

/* Mobile screens w: < 500px*/

@media(max-width:40rem){

    /* font-size (6px/16px)*100%  = 37%*/
   
    html{
        font-size: 37%;
    }

    .tech-highlight{
        padding: 1.5rem 6rem;
    }

    .tech-stack{
        flex-direction: column;
        gap:2rem;
    }

    .project-des{
        text-align: left;
    }

    .universal-grid-box{
        
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .strategy-card-container{
        grid-template-columns: 1fr;
    }
}