/* 

1. styling
2. css variables & functions
3. responsive design

*/


/* 

color guidance : 60 / 30 10 rule

Neutral (60%) -> White / Black / Gray
Primary (30%) -> Tint / Base / Shade
Secondary (10%) -> Tint / Base / Shade
*/

/* Styling guide 

Text content

Spacing -> letter spacing / line height
Styling -> font-weight / text-decoration & list-style
Size    -> sm  / a / p / h5 - h1 
Family  -> poppins 'san-serif'
Color   

Box styling

Spacing -> Margin / padding  
Styling -> border & border-radius 
Size    -> box-content & padding
Color   -> background-color
box-sizing -> box-content

Element Container 

Spacing -> Margin / padding
Styling -> flex / grid
Size    -> width / height / html-elements
Color   -> background-color

*/

/* ---------------------- Resource center ----------------------   */

/*

----------- Typography -----------

1.Spacing

letter spacing -> default:0 / heading: -1px || -2px

line-height -> default:1.5 / headings:1.25

text-alignment -> defualt:left / headings: center

2.Styling

font-weight -> normal:500 / headings:700

text-decoration -> none

list-style -> none

3.Size (scale:1.25 || base:16px)

sm -> 12px  / a->16px /p-> 20px / h5 -> 25px / h4 -> 32px / h3 -> 40px / h2 -> 50px h1 -> 62px

4. Family  -> poppins 'san-serif'

5. Color

primary:  base->#2B7ED1 / tint->#bfd8f1 / shade->#1e5892

secondary: base->#FF8D28 / tint / shade

black: 000000

white: ffffff

gray: tint->#EFF2F5 / base->#1C222C / shade->#0A0C10


----------- css box -----------

size: html-content & padding

padding -> 

margin -> heading:10px / paras:20px / buttons:30px / sub-sections:50px / sections:100px

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* relative units */

html{
    /* (10px / 16px)*100% = 62.5% */

    font-size: 62%;
}

/* creating css variables */

:root{

    /* colors variables */

    --primary-base:#2B7ED1;
    --primary-tint:#bfd8f1;
    --primary-shade:#1e5892;
    --secondar-base:#FF8D28;
    --white:#ffffff;
    --black:#000000;
    --gray-base:#1C222C;
    --gray-tint:#EFF2F5;
    --gray-shade:#0A0C10;

    /* section spacing */

    --section-margin:10rem;

}

/* ----------- Global styling ----------- */

/*-------- Content css --------*/

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    color: var(--gray-base);

}

h1,h2,h3,h4,h5{
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    color: #0A0C10;
}

h1{
    font-size: 6.2rem;
    letter-spacing: -2px;
}

h2{
    font-size: 5rem;
    letter-spacing: -2px;
}

h3{
    font-size: 4rem;
    letter-spacing: -1px;
    text-align: left;
}

h4{
    font-size: 3.2rem;
    text-align: left;
}

h5{
    font-size: 2.5rem;
    text-align: left;
}

p,a,.sm{
    font-weight: 500;
    line-height: 1.5;
    color: #1C222C;
}

p{
    font-size: 2rem; 
}

a{
    font-size: 1.6rem;
    text-decoration: none;
  
}

.sm{

    font-size: 1.2rem;
}

li{
    list-style: none;
}

span{
    display: inline-block;
}

/*-------- Box and layout css --------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.page-container{
    max-width: 1200px;
    margin: 0 auto;
}


.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 5rem;
}

/* .grid-item{

} */

.flex-box{
    display: flex;
}

/* .flex-item{
    
} */