
/* Styling guide 

Text content

Spacing -> letter spacing / line height
Styling -> font-weight / text-decoration & list-style
Size    -> sm  / a / p / h5 - h1 
Family  -> poppins 'san-serif'
Color   

Box styling

Spacing -> Margin / padding  
Styling -> border & border radius 
Size    -> box-sizing
Color   -> background-color

Element Container 

Spacing -> Margin / padding
Styling -> flex / grid
Size    -> box-sizing
Color   -> background-color

*/


/*

----------- Resource center ----------- 

Typography

1.Spacing

letter spacing -> default:0 / heading: -1px || -2px

line-height -> default:1.5 / headings:1.25

2.Styling

font-weight -> normal:500 / headings:700

text-decoration -> none

list-style -> none

3.Size (scale:1.25 || base:16px)

sm -> 12px  / a->16px /p-> 20px / h5 -> 25px / h4 -> 32px / h3 -> 40px / h2 -> 50px h1 -> 62px

4. Family  -> poppins 'san-serif'

5. Color

primary

secondary

tartiary

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----------- Global styling ----------- */

body{
    font-family: "Poppins", sans-serif;

}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 1.25;
    letter-spacing: -2px;
}

h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: -2px;
}

h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -1px;
}

h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
}

h5{
    font-weight: 700;
    font-size: 25px;
    line-height: 1.25;
}

p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.sm{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

li{
    list-style: none;
}
