/*  

Large tablets   (1024 - 1200)px
small tablets.  (744 -  1023)px

large phones    (500 -743)px
small phones.   (390 - 500)px

*/

/*  small laptop screens */

@media(max-width:75rem){

    html{
        font-size: 56%;
    }

    .page-container{
        max-width: 90%;
    }
}

/*  Tablet screens */

@media(max-width:62rem){
    /* font-size (8px/16px)*100%  = 50%*/

    html{
        font-size: 50%;
    }

    .hero{
        height: auto;
    }

    .nav{
        margin-bottom: 10rem;
    }
}

/* Min Tablet screens */

@media(max-width:55rem){
    /* font-size (7px/16px)*100%  = 43%*/

    html{
        font-size: 43%;
    }

    .tech-highlight{
        padding: 1.5rem 7.5rem;

    }

    .nav-svg{
        display: block;
    }


    .nav-menu-links{
    
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 12rem;
        right: -100%;
        background-color: var(--primary-base); 
        transform: translateX(100%);
        transition: transform 0.3s ease;
     
    }

    .nav-menu-links.active{
        right: 0;
        border-radius: 0.5rem;
        padding: 4rem;
        gap: 4rem;
        transform: translateX(0);

    }


}

/* Mobile screens */

@media(max-width:47rem){
    /* font-size (6px/16px)*100%  = 37%*/

    html{
        font-size: 37%;
    }

    .tech-highlight{
        padding: 1.5rem 7.2rem;

    }
}

@media(max-width:40rem){
   

    /* .tech-highlight{
        padding: 1.5rem 8rem;

    } */

    .tech-stack{
        flex-direction: column;
        gap:2rem;
    }

    .project-card-container{
        flex-direction: column;

    }


}