/*  

Large tablets   (1024 - 1200)px
small tablets.  (744 -  1023)px

large phones    (500 -743)px
small phones.   (390 - 500)px

*/

/*  small laptop screens */

@media(max-width:1199px){

    html{
        font-size: 56%;
    }

    .page-container{
        max-width: 95%;
    }

}

/*  Tablet screens */

@media(max-width:1000px){
    /* font-size (8px/16px)*100%  = 50%*/

    html{
        font-size: 50%;
    }

}

/* Min Tablet screens */

@media(max-width:880px){
    /* font-size (7px/16px)*100%  = 43%*/

    html{
        font-size: 43%;
    }


}

/* Mobile screens */

@media(max-width:748px){
    /* font-size (6px/16px)*100%  = 37%*/

    html{
        font-size: 37%;
    }

}